div{
    position: relative;
    right: 500px;
    top: 100px;
}
h1{
    font-size: 30px !important;
    position: relative;
    bottom: 150px;
    left: 500px;
}
h2{
    font-size: 30px ;
}

canvas{
    animation-name: canvas_css;
    animation-duration: 4s;
    animation-iteration-count: infinite;

    position: relative;
    left: 1200px;
}


@keyframes canvas_css{
    from{
        box-shadow: 1px 1px 38px aqua;
    }
    to{
        box-shadow: 1px 1px 38px darkblue;
    }

    
}